
#main-menu {
	text-align: center;
}
#main-menu a {
	font-size: 20px;
	color: #737373;
	text-decoration: none;
}

#main-menu a:hover, #main-menu a.active {
	color:pink;
}

#main-menu a.active {
	font-weight: bold;
}


}
.wrap {
	max-width:  1000px;
	margin: auto;
	}
b::after{
	content: "VND";
}
