*{
	box-sizing : border-box
}
body {
	background-color: black;

}

#menu a {
	padding: 111px;
	font-size: 25px;
	color: #737373;
	text-decoration: none;
}

#menu { 
	position: relative;
}

#menu a:hover, #menu a.active {
	color:pink;
}

#menu a.active {
	font-weight: bold;
}
#menu img {
    position: absolute;
    border-radius: 50%;
    width: 10%;
    top: -63px;
    left: 100px;
    background-color: white;
    padding: 5px;
}

.img img{
	padding: 20px;
	width: 100%;
	max-height: 200px;
	margin: 40px;
	border: 10px solid #99ffeb;
}

#anh {
	width: 100%
}
#banner  {
	width: 1200px;
	max-height: 500px;
	margin: 0 auto;
}
.grup {
	width: 1200px;
	margin: auto;
}
.img {
	float: left;
	width: 30%;
	margin : 0 1%;
}
#back img {
    position: fixed;
    border-radius: 50%;
    width: 6%;
    bottom: -6px;
    right: 25px;
    padding: 5px;
}
