*{
	box-sizing : border-box
}
body {
	background-color: black;

}

#menu a {
	padding: 130px;
	font-size: 25px;
	color: #737373;
	text-decoration: none;
}

#menu a:hover, #menu a.active {
	color:pink;
}

#menu a.active {
	font-weight: bold;
}
.img img{
	padding: 20px;
	width: 100%;
	max-height: 200px;
	margin: 40px;
	border: 10px solid #99ffeb;
}

#anh {
	width: 100%
}
#banner  {
	width: 1200px;
	min-height: 500px;
	margin: 0 auto;
}
.grup {
	width: 1200px;
	margin: auto;
}
.img {
	float: left;
	width: 30%;
	margin : 0 1%;
}